@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

$font-family: 'Ubuntu', sans-serif;
$base-font-size: 18px;

$color-main-bg: #F08080;
$color-black: #212121;
$color-white: #ffffff;
$color-light-grey: #efefef;

$radius: 3em;