@import "./variables.scss";

a, input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Older browsers */
html { font-size: $base-font-size; font-family:$font-family; color:$color-white;} 



/* Modern browsers only need this one */

@media screen and (min-width: 25em){
  html { font-size: calc( #{$base-font-size} + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

/* Safari <8 and IE <11 */
@media screen and (min-width: 25em){
  html { font-size: calc( #{$base-font-size} + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
@media screen and (min-width: 50em){

html { font-size: calc( #{$base-font-size} + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

#weatherApp {
	display:block;
	width:90%;
	max-width:400px;
	min-width:300px;
	padding:2em 2em 5em;
	margin:2em auto;
	text-align:center;
  background: $color-main-bg;
  color: $color-white;
	header {
    padding: 0em;
    text-align: right;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.weatherApp__city {
    padding:4em 0em 2em;
    h1, h2 {
        padding: 0;
        margin: 0;
        color:$color-white;
    }
    h2 {
        font-size: 1em;
    }
    h1 {
        font-size: 3em;
    }
}
}