@import "./_variables.scss";
@import "./_mixins.scss";
.unitToggler {

    button {
        background-color: $color-white;
        padding: 20px;
        font-size:1.1em;
        border: none;
        color: $color-main-bg;
        border-radius: 100%;
    }
}