@import "./_variables.scss";
@import "./_mixins.scss";
.unitToggler {

    button {
        background-color: lighten($color-black, 20%);
        padding: 20px;
        border: none;
        color: $color-white;
        border-top-right-radius: $radius;
    }
}